/* Please style the HTML elements according to these rules:

    h1s
         - green text
    h2s
         - magenta text
    paragraphs
        - white text
        - black background color
    buttons
        - red text
        - pink background color */

h1 {
    color: green;
}

h2 {
   color: magenta;
}

p {
    color: white;
    background-color: black;
}

button {
    color: red;
    background-color: pink;
}
